div.Spelling {
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.exception {
	border-color: red !important;
}

.exception:focus {
	box-shadow: 0 0 0 2px red !important;
}